<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
     
        <title>Segundo Banco Nacional</title>
     
            {# Cargamos la librería #}
          {% load bootstrap4 %}
     
          {# CSS Bootstrap #}
          {% bootstrap_css %}
          {% load static %}
            <!-- Styles -->
            <link href="{% static 'css/balcon.css' %}" rel="stylesheet">
            <!-- {% if messages %}
            {% for message in messages %}
                <script>alert('{{message}}')</script>
            {% endfor %}
          {% endif %} -->
          
      </head>
    <body>
        

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'Home' %}">Segundo Banco Nacional</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Balcon Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'Cuentas' %}">Crear cuenta bancaria</a>
                      
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Ventanilla' %}">Transacciones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Banca en línea</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <!-- {% if messages %}
        
              {% for message in messages %}
              <script>alert('Buenas')</script>
              {% endfor %}
          
          {% endif %} -->
        <!-- Contenido cambiante -->
        {% block content %}

        {% endblock %}

          {% bootstrap_javascript jquery='full' %}
    </body>

</html>